* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--txt-color);
}
:root {
    --primary-color: #eb522c;
    --height-navbar: 60px;
    --txt-color: #333;
}

.btn {
    border: none;
    text-decoration: none;
    color: var(--txt-color);
    padding: 8px;
    transition: all linear 0.15s;
}

.btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.btn.disable {
    background-color: #ddd;
    color: var(--txt-color);
    opacity: 0.8;
    cursor:default;
    
}

.btn.active {
    background-color: var(--primary-color);
    color: #fff;
    cursor:default;
}


/* -------------------- */

#main {
    /* background-color: #333; */
}

.header {
    top: 0;
    left: 0;
    right: 0;
    height: var(--height-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 10;
}

.header__img {
    width: 50px;
    cursor: pointer;
}

.navBar {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 70px;
    /* flex: 1; */
}

.navBar a {
    text-decoration: none;
    display: block;
    padding: 0 16px;
    line-height: var(--height-navbar);
    color: #000;
    text-transform: uppercase;
    border-radius: 2px;
    overflow: hidden;
    transition: all linear 0.2s;
}

.navBar a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.header__search {
    line-height: var(--height-navbar);
    text-align: right;
    flex: 1;
}

.header__bag,
.header__search-icon{
    display: inline-block;
    color: var(--txt-color);
    padding: 12px;
    border-radius: 50%;
}

.header__search-box{
    font-size: 16px;
    padding: 8px 12px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
}

/* Css slider */

.tb-slider {
    border-color: #fff;
    border-collapse: collapse;
}

.slider {
    margin-top: var(--height-navbar);
    
}

.slider__img {
    width: 100%;
    vertical-align: middle;
}

/* CSS menu */
.wide .menu-list {
    margin: 0 -8px;
}

.content__title {
    padding: 36px 0;
    text-align: center;
    font-weight: 500;
    color: #fff;
    background-color: #333;
}

.menu-list__title {
    display: flex;
    justify-content:space-around;
}

.menu-list__category {
    padding: 24px 0;
    background-color: #ccc;
    flex: 1;
    text-align: center;
}

.menu-list__category ~ .menu-list__category {
    border-left: #ddd 1px solid;
}

.wide .item {
    position: relative;
    padding: 0 8px;
    margin-bottom: 16px;
    min-height: 250px;
}

.item__img {
    width: 317px;
    height: 275px;
    vertical-align: middle;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: all linear 0.3s;
}

.item__content {
    background-color: #f1f1f1;
    min-height: 280px;
}

.item__content p {
    padding: 16px 20px 0;
    font-size: 18px;
}

.food-name {
    font-weight: bold;
    font-size: 18px;
}

.price {

}

.promotion {

}

.oder {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.order__option {
    padding: 6px 8px;
    display: inline-block;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

.decrease,
.increase {
    background-color: #ccc;
}

.quantity {
}

.btn-order {
    display: block;
    margin: 12px 0 0 15px;
    padding: 8px;
    border: none;
    border-radius: 2px;
    background-color: #ccc;
    cursor: pointer;
}

/* CSS chuyển trang */
.move-pages {
    text-align: center;
    padding-bottom: 16px; 
}

.move-pages span {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 50%;
}

.move-pages i {
    font-size: 12px;
}

.pages__btn-back {
    background-color: #fff !important;
}

/* CSS page-2 */
.food-list {
    /* display: none; */
}

.food-list .page-1 {
    /* display: none; */
}

.food-list  .page-2 {
    display: none;
}

.drink-list {
    display: none;
}

.drink-list .page-2 {
    display: none;
}


/*phần content and price list của menu  content-mailingaddress*/

.content_title-subtitle{
    text-align: center;
    margin-top: 64px;
}

.content .content-mailingaddress{
  margin-top: 32px;
}

.content-infor  .content-iteam{
    margin: 0 16px;
    font-size: 24px;
}

.content-infor .content-waring{
    margin: 12px 16px;
    padding: 8px 24px;
    font-size: 20px;
}

.content_form input{
    padding: 8px 12px;
    width: 100%;
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
}

.content_form .btn-send{
    width: 120px ;    
    padding: 12px 8px;
    border: none;
    display: block;
    cursor: pointer;
    float: right;
}

/*footer*/
.footer__img {
    width: 100%;
    vertical-align: middle;
}

footer{
    margin-top: 32px;
    background: #333;
    color: #fff;
}

.content ul {
    list-style: none;
}

.footer_container{
    padding: 48px 0;
}

.footer__about {
    
}

.footer__descrept {
    margin: 8px 0;
}

.footer__social-icon  li{
    display: inline-block;
}

.footer__social-icon a {
    display: block;
    margin-right: 12px;
    font-size: 32px;
    color: #fff;
}

.icon-fb:hover {
    color: #0000ff;
}

.icon-tw:hover {
    color: #427deb;
}

.icon-inst:hover {
    color: yellow;
}

.icon-ytb:hover {
    color: #ff0000;
}

.footer__info {
}

.footer__info  li {
    padding: 8px 0;
}

.footer__info i {
    font-size: 20px;
    margin-right: 6px;
}