* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--txt-color);
}
:root {
    --primary-color: #eb522c;
    --height-navbar: 60px;
    --txt-color: #333;
}

/* CSS chung */

.btn {
    border: none;
    text-decoration: none;
    color: var(--txt-color);
    padding: 10px 12px;
    border-radius: 4px;
    transition: all linear 0.15s;
}

.btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.btn.disable {
    background-color: #ddd;
    color: var(--txt-color);
    opacity: 0.7;
    cursor:default;
    
}

.btn-menu.active,
.btn.active {
    background-color: var(--primary-color);
    color: #fff;
    cursor:default;
}


/* -------------------- */

/* CSS header */
.header {
    top: 0;
    left: 0;
    right: 0;
    height: var(--height-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-image: linear-gradient(0, rgb(248, 108, 66), var(--primary-color));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
}

.header__img {
    width: 50px;
    cursor: pointer;
}

.navBar {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.navBar a {
    text-decoration: none;
    display: block;
    padding: 0 16px;
    line-height: var(--height-navbar);
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    overflow: hidden;
    transition: all linear 0.2s;
}

.header__search {
    line-height: var(--height-navbar);
    text-align: right;
    flex: 1;
}

.header__search-box{
    font-size: 16px;
    padding: 8px 12px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
}

.header__bag {
    display: inline-block;
}

.header__bag-cart {
    position: relative;
    border-radius: 50%;
    line-height: normal;
    padding: 10px;
    color: #fff;
}

.navBar a:hover,
.header__search-icon:hover,
.header__bag-cart:hover {
    background-color: #fff;
    color: var(--txt-color);
    cursor: pointer;
}

.header__search-icon{
    display: inline-block;
    color: var(--txt-color);
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}

.header__bag-notice {
    position: absolute;
    display: block;
    color: var(--primary-color);
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    top: 0px;
    right: -4px;
    padding: 2px 6px;
    font-size: 12px;
}

.header__bag-cart:hover .header__bag-notice {
    display: none;
}

.header__bag-cart:hover .form-cart {
    display: block;
    color: #000;
}

.form-cart {
    position: absolute;
    top: calc(100% + 20px);
    right: -40px;
    width: 500px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform-origin:  calc(100% - 80px) top;
    animation: growth linear 0.25s;
    display: none;
}

.form-cart::before {
    content: "";
    position: absolute;
    border-width: 10px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -20px;
    right: 40px;
}

.form-cart__list {
    height: 70vh;
    text-align: left;
    overflow-y: auto;
}

.form-cart__title {
    text-align: center;
    line-height: normal;
    padding: 16px;
    font-weight: 500;
    cursor: default;
}

.form-cart__item {
    display: flex;
    height: 130px;
    margin-bottom: 12px;
    /* background-color: #fff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-cart__item p {
    line-height: 1.4; 
    
}

.form-cart__img {
    width: 130px;
    height: 130px;
    padding: 8px;
    vertical-align: middle;
    border-radius: 4px;
    
}

.form-cart__content {
    flex: 1;
    margin-left: 24px;
}

.form-cart__content-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}

.form-cart__content .btn-form-cart {
    margin: 8px 0 0 50px;
}

/* Css slider */

.tb-slider {
    border-color: #fff;
    border-collapse: collapse;
}

.slider {
    margin-top: calc(var(--height-navbar) - 1px);
    
}

.slider__img {
    width: 100%;
    vertical-align: middle;
}

/* CSS menu */
.content__title {
    padding: 36px 0;
    text-align: center;
    font-weight: 500;
    color: #fff;
    background-color: #333;
}

.menu-list__title {
    display: flex;
    justify-content:space-around;
}

.menu-list__category {
    padding: 24px 0;
    background-color: #ccc;
    flex: 1;
    text-align: center;
}

.menu-list__category ~ .menu-list__category {
    border-left: #ddd 1px solid;
}

.menu-lists {
    display: none;
}

.menu-lists.menu-current {
    display: block;
}

.item {
    position: relative;
    margin-bottom: 16px;
}

.item__img {
    width: 100%;
    height: 200px;
    vertical-align: middle;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all linear 0.3s;
}

.item__content {
    background-color: #f1f1f1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: 265px;
}

.item__content p {
    padding: 16px 16px 0;
    font-size: 18px;
}

.food-name {
    font-weight: bold;
    font-size: 18px;
}

/* .price {

} */

.oder {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 35px;
}

.order__option {
    padding: 6px 8px;
    display: inline-block;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

.decrease,
.increase {
    background-color: #ccc;
}

.quantity {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    text-align: center;
    background-color: #f1f1f1;
}

.btn-order {
    margin: 16px 8px 0 0;
    background-color: #ccc;
}

.btn-add-cart {
    margin: 16px 0 0 8px;
    background-color: #ccc;
}

/* CSS chuyển trang */
.move-pages {
    text-align: center;
    padding-bottom: 16px; 
}

.page__btn-back:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.page__btn-back.disable {
    background-color: #fff;
    color: #000;
    opacity: 0.7;
    cursor: default;
}

.move-pages span {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 50%;
}

.move-pages i {
    font-size: 12px;
}



/* CSS page-2 */


.page-menu {
    display: none;
}

.page-menu.page-current {
    display: flex;
}

.drink-list .item__content {
    min-height: 200px;
}


/*phần content and price list của menu  content-mailingaddress*/

.content_title-subtitle{
    text-align: center;
    margin-top: 64px;
}

.content .content-mailingaddress {
  margin-top: 48px;
}

.content__contact {
    margin-bottom: 12px;
    padding: 8px 0;
    font-size: 20px;
}

.content-icon {
    margin-right: 8px;
    font-size: 24px;
}

.content__contact a {
    text-decoration: none;
    color: #427deb;
}

.content__contact a:hover {
    color: var(--primary-color);
}

.content_form input{
    padding: 8px 12px;
    width: 100%;
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
}

.content_form .btn-send{
    width: 120px;    
    padding: 12px;
    float: right;
}

/*footer*/
.footer__img {
    width: 100%;
    vertical-align: middle;
}

footer{
    margin-top: 32px;
    background: #333;
    color: #fff;
}

.footer__contact ul {
    list-style: none;
}

.footer__contact a {
    text-decoration: none;
    color: #fff;
}

.footer__contact a:hover {
    color: var(--primary-color);
}

.footer_container{
    padding: 48px 0 24px;
}

/* .footer__about {
    
} */

.footer__descrept {
    margin: 8px 0;
}

.footer__social-icon  li{
    display: inline-block;
}

.footer__social-icon a {
    display: block;
    margin-right: 12px;
    font-size: 32px;
    color: darkgray;
}

.icon-fb:hover {
    color: #1850ca;
}

.icon-tw:hover {
    color: #00B6F1;
}

.icon-inst:hover {
    color: #2C6A93;
}

.icon-ytb:hover {
    color: #f00;
}

/* .footer__info {
} */

.footer__info  li {
    padding: 8px 0;
}

.footer__info i {
    font-size: 20px;
    margin-right: 6px;
}

.footer__contact-address,
.footer__contact-social {
    text-align: center;
}

.coppyright {
    font-size: 20px;
    text-align: center;
    padding-bottom: 36px;
}

/* CSS Modal */
.modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    
}

.modal.close {
    display: none;
}

.form-order {
    position: relative;
    min-width: 400px;
    min-height: 200px;
    padding: 24px;
    background-color: #fff;
    border-radius: 4px;
    animation: fadeIn linear 0.2s;
}

.form-orderclose {
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 4px 8px;
    border-radius: 50%;
    color: #777;
}

.form-order__header-title {
    text-align: center;
    color: var(--txt-color);
    margin: 12px 0;
    text-transform: uppercase;
}

.form-order__form span {
    display: inline-block;
    min-width: 60px;
}

.form-order__form input {
    width: 100%;
    margin: 4px 0 12px;
    padding: 4px 8px;
}

.price-money {
    margin-bottom: 12px;
}

.btn-order-form {
    transform: translateX(180%);
}


/* Hiệu ứng */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showHidden {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes hiddenShow {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

/* Hiệu ứng chuyển trang */
@keyframes leftToRight {
    from {
        opacity: 1;
        transform: translate(0);
    }
    to {
        opacity: 0;
        transform: translate(-100%,0);
    }
}

@keyframes FadeInLeftToRight {
    from {
        opacity: 0;
        transform: translate(100%, 0);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes growth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

