* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}


/* thhuộc tính sau chung */


/* end */

:root {
    --height-navbar: 50px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    height: var(--height-navbar);
    display: flex;
    padding: 0 80px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 10;
}

#main {
    background-color: #ddd;
}

.header__img {
    width: 50px;
    cursor: pointer;
}

.navBar {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.navBar a {
    text-decoration: none;
    display: block;
    padding: 0 16px;
    line-height: var(--height-navbar);
    color: #000;
    border-radius: 2px;
    overflow: hidden;
    transition: all linear 0.2s;
}

.navBar a:hover {
    background-color: #ccc;

}

/* Css slider */

.tb-slider {
    border-color: #fff;
    border-collapse: collapse;
}

.slider {
    margin-top: var(--height-navbar);
    
}

.slider__img {
    width: 100%;
    vertical-align: middle;
}

/* CSS menu */

.content__title {
    padding: 36px 0;
    text-align: center;
    font-weight: 500;
    color: #fff;
    background-color: rgb(255, 0, 0);
}

.menu-list__title {
    display: flex;
    justify-content:space-around;
}

.menu-list__category {
    padding: 24px 0;
    background-color: #ccc;
    flex: 1;
    text-align: center;
    border: #ddd 1px solid;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 16px solid #fff;
}

.item__img {
    width: 200px;
    vertical-align: middle;
}

.item__content {
    background-color: #f1f1f1;
    flex: 1;
    height: 200px;
}

.item__content p {
    margin: 8px 20px;
    font-size: 18px;
}

.food-name {
    font-weight: bold;
}

.price {

}

.promotion {

}

.oder {
    margin: 0 70px;
}

.order__option {
    padding: 4px 8px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

.decrease {
    cursor: pointer;
    background-color: #ccc;
}

.quantity {
}

.increase {
    cursor: pointer;
    background-color: #ccc;

}

.btn-order {
    display: block;
    margin: 12px 0 0 12px;
    padding: 4px 8px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}

    /*phần content and price list của menu  content-mailingaddress*/

.content_title-subtitle{
    text-align: center;
    margin-top: 64px;
}

.content .content-mailingaddress{
  margin-top: 32px;
}

.content-infor  .content-iteam{
    margin: 0 16px;
    font-size: 24px;
}

.content-infor .content-waring{
    margin: 12px 16px;
    padding: 8px 24px;
    font-size: 20px;
}

.content_form input{
    padding: 8px 12px;
    width: 100%;
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
}

.content_form .btn-send{
    width: 120px ;    
    padding: 12px 8px;
    border: none;
    display: block;
    cursor: pointer;
    float: right;
}

.content_form .btn-send:hover{
    opacity: 0.3;
}




/*footer*/
.footer_img{
    height: 600px;
}

body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}
footer .footer_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

 footer .footer_container .content{
    margin-right: 30px;
}

footer .footer_container .content .about{
    width: 40%;
}

footer .footer_container .content .about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
} 

footer .footer_container .content .about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer .footer_container .content .about p{
    color: #999;
}

/* Thiết lập cho thành phần icon mạng xã hội */

.social-icon{
    margin-top: 20px;
    display: flex;
}

.social-icon li{
    list-style: none;

}

.social-icon li a {
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: 10px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social-icon li a:hover{
    background: #f00;
}

.social-icon li a .fab{
    color: #fff;
    font-size: 40px;
}

.links h2{
    position: relative;
    width: 25%;
} 

.links ul li  {
    list-style: none;
}

 .links ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}


.links ul li a:hover{
    color: #fff;
}

.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.contact h2::before{
    content: '';
    position: absolute;
    bottom:  -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
    color: #999;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: #999;
}

.contact .info li a{
    color: #999;
    text-decoration: none;
}














